# Byte-compiled files
__pycache__/
*.py[co]

# IDE
/.idea/
/.vscode/*
!/.vscode/settings.json

# Unit test / coverage reports
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# Environments
/.env
/.venv
/env/
/venv/

# Temporary / log files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db